<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/logo_icone.ico')}} ">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <script src="https://kit.fontawesome.com/204bbbe9f0.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sofia|Bahnschrift">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body class="page">
      <div class="navbar z-10 absolute">
        <ul class="barre backdrop-blur-lg flex items-center justify-between text-blue-500 pt-1 pb-2 top-0 rounded-b-2xl w-screen fixed border-b-4 border-blue-custom border-b">
            <a class="hidden xl:inline" href="{{ path('app_index') }}"><img class="px-4 h-36 md:h-24 hidden xl:inline " src="{{ asset('img/logo_pc.png') }}" alt="logo"/></a>
            <a class="inline xl:hidden" href="{{ path('app_index') }}"><img class="px-4 h-36 md:h-24 xl:hidden " src="{{ asset('img/logo_mobile.png') }}" alt="logo"/></a>

            <details class="flex md:hidden items-center z-20">
              <summary></summary>
              <nav class="menu">
                {% if app.user %}
                  <h1 class="text-center text-2xl pb-5 mt-5 mb-7 border-b-2"> <i class="fa-solid fa-circle-user"></i> {{app.user.email}}</h1>
                
                  <a class="inline-block mb-5  font-semibold" href="{{ path('app_index') }}">Accueil</a>
                
                  <a class="inline-block my-5 font-semibold" href="{{ path('app_user_show', {'id':app.user.id}) }}">Mes Séries</a>
                  <a class="block my-5 whitespace-no-wrap font-semibold" href="{{ path('app_user_index') }}">
                {% if app.user.isAdmin() %}Tableau de bord
                {% else %}Utilisateurs
                {% endif %}
                </a>
                  <a class="my-5 block whitespace-no-wrap font-semibold" href="{{ path('app_logout') }}"> Déconnexion</a>
                  {% else %}
                  <a class="inline-block py-4  font-semibold" href="{{ path('app_index') }}">Accueil</a>
                  <a class="inline-block py-4 hover:text-blue-custom font-semibold" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
              </nav>
            </details>

            <ul class="menu-pc text-2xl hidden md:flex">
            <li class="nav-item -mb-px px-5 mr-1">
              <a class="inline-block py-4 hover:text-blue-custom font-semibold" href="{{ path('app_index') }}">Accueil</a>
            </li>
            <li class="nav-item px-5 mr-1">
              <a class="inline-block py-4 hover:text-blue-custom font-semibold" href="{{ path('app_series_index') }}">Séries</a>
            </li>
            {% if app.user %}
            <li class="nav-item px-5 ">
                  <div class="dropdown inline-block hover:bg-blue-500 hover:text-white text-blue-500 hover:rounded">
                    <button class="font-semibold py-4 rounded inline-flex items-center">
                      <span class="px-2"> <i class="fa-solid fa-circle-user"></i> {{ app.user.email}} </span>
                      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-white pt-1 right-0">
                      <li class=""><a class="rounded-t bg-blue-700 hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap" href="{{ path('app_user_index') }}">
                      {% if app.user.isAdmin() %}
                        <div class="no-wrap"><i class="fa-sharp fa-solid fa-screwdriver-wrench"></i> Tableau de bord</div>
                        <li class=""><a class="bg-blue-700 hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap" href="{{ path('app_admin_dashboard') }}"><i class="fa-solid fa-file-import"></i> Import séries</a></li>
                      {% else %}
                        <i class="fa-solid fa-users"></i> Utilisateurs
                      {% endif %}</a></li>
                      {% if app.user.isAdmin() %}
                      <li class=""><a class="bg-blue-700 hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap" href="{{ path('app_rating_accepting') }}"><i class="fa-solid fa-comments"></i> Critiques</a>
                      </li>
                      {% endif %}
                      <li class=""><a class="bg-blue-700 hover:bg-blue-500 py-2 px-4 block whitespace-no-wrap" href="{{ path('app_user_show', {'id':app.user.id}) }}"><i class="fa-solid fa-bookmark pl-1 pr-2"></i> Mes Séries</a></li>
                      <li class=""><a class="rounded-b hover:bg-blue-custom py-2 px-4 block whitespace-no-wrap bg-red-700 hover:bg-red-400" href="{{ path('app_logout') }}"><i class="fa-solid fa-person-through-window"></i> Déconnexion</a></li>
                    </ul>
                  </div>
            </li>
            <li class=" hidden nav-item px-5 mr-1">
              <a class="inline-block py-4 hover:text-blue-custom font-semibold" href="{{ path('app_login') }}">Connexion</a>
            </li>

            {% else %}
            <li class="nav-item px-5 mr-1">
              <a class="inline-block py-4 hover:text-blue-custom font-semibold" href="{{ path('app_login') }}">Connexion</a>
            </li>
          {% endif %}
            
            
          </ul>
        </ul>
      </div>
     
        <div class="xl:mt-40 mt-52">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
          {{ encore_entry_link_tags('app')}}
        {% endblock %}
        {% if is_granted('IS_IMPERSONATOR') %}
          <div style="margin-bottom: 75px;"></div>
          <div style="position: fixed;
                    bottom: 0;
                    width: 100%;
                    background-color: #333;">
          
            <div class="bg-red-500 text-white text-center p-4">
              Vous incarnez actuellement <i class="fa-solid fa-user"></i><strong>{{ app.user.email }}</strong> |
              <a href="{{ impersonation_exit_path(path('app_user_index') ) }}" style="text-decoration: underline;"><i class="fa-solid fa-right-from-bracket"></i> Arrêter d'incarner</a>
            </div>
          </div>
        {% endif %}
    </body>
</html>
