{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
{{ encore_entry_link_tags('app') }}
    {% endblock %}

{% block body %}
   

    <div class=" flex flex-col text-black text-3xl m-auto flex flex-co w-auto items-center p-10">
        <h1 class="text-white">S'inscrire</h1>
        
            {{ form_start(registrationForm) }}
            <div class="p-6 text-white flex flex-col justify-center items-center">
                {{ form_row(registrationForm.name) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
           
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Register</button>
        {{ form_end(registrationForm) }}
       
    
    </div>
    
{% endblock %}
