{% extends 'base.html.twig' %}

{% block title %}
{% if app.user.isAdmin() %}Tableau de bord administrateur 
{% else %}Liste utilisateurs
{% endif %}{% endblock %}
{% block body %}
<div class="text-white w-11/12 mx-auto">
    <div class="flex flex-col w-full">
        {% if app.user %}
            {% if app.user.isAdmin() %}
            <h1 class="text-5xl text-center font-semibold mb-2">Tableau de bord administrateur</h1>
            {% else %}
            <h1 class="text-3xl text-center mb-2">Liste des utilisateurs</h1>
            {% endif %}
            
                <div class="flex flex-col justify-between">
                    <div class="flex justify-between">
                    {% if app.user.isAdmin() %}
                    <a href="{{ path('app_user_gen', {'id':5000})}} "><button class="hidden md:flex justify-center w-72 text-lg text-center bg-green-600 hover:bg-green-500 p-2 px-5 rounded-xl  text-grey  mb-2">Créer 5000 utilisateurs</button></a>
                    <a href="{{ path('app_user_autodel')}} "><button class="hidden md:flex justify-center w-72 text-lg text-center bg-red-700 hover:bg-red-600 p-2 px-5 rounded-xl text-grey mb-2">Supprimer les faux comptes</button></a>
                    {% endif %}

                    </div>
                    <div class="flex flex-row-reverse justify-between">
                    {% if app.user.isAdmin() %}
                    <a href="{{ path('app_rating_del')}} "><button class="hidden md:flex justify-center w-72 text-lg bg-red-700 hover:bg-red-600 text-center p-2 px-5 rounded-xl  text-grey mb-2"> Supprimer les critiques </button></a>
                    <a href="{{ path('app_rating_gen', {'id':1})}} "><button class="hidden md:flex justify-center w-72 bg-green-600 hover:bg-green-500 text-lg text-center p-2 px-5 rounded-xl  text-grey mb-2">Générer 1000 critiques</button></a>
                    {% endif %}
                    </div>

                    <div class="flex flex-row-reverse justify-between">
                    {% if app.user.isAdmin() %}
                    <a href="{{ path('app_user_autoDelSuivi')}} "><button class="hidden md:flex justify-center w-72 text-lg text-center bg-red-700 hover:bg-red-600 p-2 px-5 rounded-xl text-grey mb-2"> Supprimer les faux suivis </button></a>
                    <a href="{{ path('app_user_genSuivi', {'id':2})}} "><button class="hidden md:flex justify-center w-72 bg-green-600 hover:bg-green-500 text-lg text-center p-2 px-5 rounded-xl  text-grey mb-2">Générer 1000 faux suivis</button></a>
                    {% endif %}
        {% endif %}
        </div>

        
        <div class="mt-5">
            {{ knp_pagination_render(users)}}
        </div>

    </div>

    {{ form_start(UserSearchForm) }}
            <div class="text-lg items-center flex flex-wrap w-full px-10 py-2">
                {{ form_row(UserSearchForm.email, {
                'label': 'E-mail',
                }) }}
            <button class="mx-5 text-black bg-blue-500 rounded-2xl px-5 p-2 hover:bg-blue-custom" type="submit">Chercher</button>
        </div>
    {{ form_end(UserSearchForm) }}
    
    <table class="table w-full">
        <thead class="bg-white text-2xl text-black h-16">
            <tr >
                <th class="name_colonne">Nom</th>
                <th>E-mail</th>
                <th class="register_date_colonne">Date d'enregistrement</th>
                <th>Voir profil</th>
                {% if app.user.isAdmin() %}
                    <th>Incarner</th>
                    <th class="admin_colonne">Administrateur</th>
                    <th class="ban_colonne">Suspendre</th>
                    <th class="reset_colonne">Reset</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="text-center">
        {% for user in users %}
            <tr >
                {% if user.isSuspended() %}
                    <td class="name_infos bg-red-500/50 h-7 text-xl border">[Suspendu]<br>{{ user.name }}</td>
                {% else %}
                    <td class="name_infos justify-center h-full text-xl border">{{ user.name }}</td>
                {% endif %}
                <td class=" border">{{ user.email }}</td>
                <td class="register_date m-5 mx-0 items-center border">{{ user.registerDate ? user.registerDate|date('d/m/Y H:i:s') : '' }}</td>
                <td class="  md:flex-row flex-col flex justify-around no-wrap items-center border">
                    <a class="border-2 border-blue-600 bg-blue-980 hover:bg-blue-600 flex items-center m-5 p-2 rounded-2xl no-wrap" href="{{ path('app_user_show', {'id': user.id }) }}">
                            
                    <i class="fa-solid fa-eye mr-2"></i>Voir profil</a>
                </td>
                {% if app.user.isAdmin() %}
                    <td class=" no-wrap items-center border">
                        {% if not is_granted('IS_IMPERSONATOR') %}
                            <a class=" mx-auto w-min bg-blue-800 hover:bg-blue-600 flex items-center m-5 p-2 rounded-2xl no-wrap" href="{{ path('app_series_index', {'_switch_user': user.email}) }}">
                            
                            <i class="fa-solid mr-2 fa-person"></i></i>Incarner</a>
                        {% endif %}
                    </td>

                    <td class=" border admin_action">
                        {% if user.isAdmin() %}
                        <a href="{{ path('app_user_promote', {'id': user.id}) }}"><img class="h-12 w-20" src="{{ asset('img/admin_plein.png')}} " style="margin: auto;"></a>
                        {% else %}
                        <a href="{{ path('app_user_promote', {'id': user.id}) }}"><img class="h-12 w-20" src="{{ asset('img/admin_eteint.png')}} " style="margin: auto;"></a>
                        {% endif %}
                    </td>

                    <td class=" border ban_action">
                        {% if user.isSuspended() %}
                        <a href="{{ path('app_user_suspend', {'id': user.id}) }}"><img class="h-12 w-20" src="{{ asset('img/bouton_allume_r.png')}} " style="margin: auto;"></a>
                        {% else %}
                        <a href="{{ path('app_user_suspend', {'id': user.id}) }}"><img class="h-12 w-20" src="{{ asset('img/bouton_eteint_r.png')}} " style="margin: auto;"></a>
                        {% endif %}
                    </td>

                    <td class="border reset_action">
                        <a href="{{ path('app_user_reset_mdp', {'id':user.id})}} "><button class="bg-red-500 p-2 rounded-xl">Reset MDP</button></a>
                    </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="bottom-0 mx-auto w-11/12 py-5">
        {{ knp_pagination_render(users)}}
    </div>
</div>

    
</div>

{% endblock %}
