{% extends 'base.html.twig' %}

{% block title %}{{user.name}}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
{{ encore_entry_link_tags('app') }}
    {% endblock %}



{% block body %}
<div class="flex-col flex w-4/5 mx-auto">
    {% if app.user.id == user.id %}
    <a href="{{ path('app_series_index') }}"><button class=" text-white hover:text-blue-900 bg-blue-800 hover:bg-blue-custom p-2 rounded-2xl m-5 ml-0" type="submit" >Retour à l'accueil</button></a>
    <h1 class="text-3xl text-cyan-200 mb-2 font-semibold">{{ user.name }}</h1>
    <h1 class="text-2xl text-white">Vos séries suivies</h1>
    {% else %}
    <a href="{{ path('app_admin_dashboard') }}"><button class=" text-white hover:text-blue-900 bg-blue-800 hover:bg-blue-custom p-2 rounded-2xl m-5 ml-0" type="submit" >Retour</button></a>
    <div class="flex items-baseline text-cyan-200">
    <h1 class="text-2xl  mb-2 font-semibold">Séries suivies par {{user.name}}</h1>
    <h1 class="text-xl  ml-2">({{user.email}})</h1>
    </div>
    <div class="flex items-baseline text-white">
    <h1 class="text-xl pr-5 border-r-2">Membre depuis le {{ user.getRegisterDate()|date("d/m/y") }}</h1>
    {% endif %}
    {%if user.getSeries|length == 1%}
    <h1 class="text-xl ml-5">{{ user.getSeries|length }} série suivie</h1>
    {% else %}
    <h1 class="text-xl ml-5">{{ user.getSeries|length }} séries suivies</h1>
    {% endif %}
    </div>

    <div class=" pagination-my-series">
        {{ knp_pagination_render(seriesList)}}
    </div>
    
    <div class="flex w-full ">
        <div class="flex flex-row w-full flex-wrap items-center justify-center">
       
                {% for serie in seriesList %}
                <div class="flex flex-col w-64 mx-5">
                    <h3 class=" font-bold text-white text-center my-5">{{ serie.title }} </h3>
                    <div class="serie-encadre flex flex-col-reverse rounded-2xl mx-5">
                        <a href="{{ path('app_series_show', {'id': serie.id})}}">
                            <img class=" rounded-h rounded-2xl w-full h-80" src="{{ serie.displayPoster }}">
                        </a>
                    </div>
                    {% set avance = user.getAvancement(serie) %}
                    {% set count = user.getEpisodeCount(serie) %}
                    {% if avance < count %}
                    <div class="mt-2">
                        <h1 class="text-center text-lg text-white">Episodes vus</h1>
                        <h1 class="text-center text-md text-white">{{ avance }}/{{count}}</h1>
                    </div>
                    {% elseif avance == count %}
                    <div class="mt-2">
                        <h1 class="text-center text-lg text-white">Terminée</h1>
                    </div>
                    {% endif %}
                </div>
                
                {% endfor %}
        </div>
    </div>

   
            
    

</div>
    
{% endblock %}
