{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
{{ encore_entry_link_tags('app') }}
    {% endblock %}



{% block body %}
<div class="flex-col flex w-4/5 mx-auto">
    <h1 class="text-3xl text-blue-500">{{ user.name }}</h1>
    <h1 class="text-2xl text-blue-500">Vos séries suivies</h1>
    <div class="flex w-full">
        <div class="flex flex-row-reverse w-96">
       
                {% for serie in app.user.getSeries %}
                <div class="flex flex-col">
                <h3 class=" font-bold text-white text-center my-5">{{ serie.title }} </h3>
                <div class="serie-encadre flex flex-col-reverse rounded-2xl mx-5">
                    

                        <a href="{{ path('app_series_show', {'id': serie.id})}}">
                            <img class=" rounded-h rounded-2xl" src="{{ serie.displayPoster }}">
                        </a>

                    </div>
                
                </div>
                {% endfor %}
        </div>
    </div>
            
            <a href="{{ path('app_user_index') }}"><button type="submit" >back to list</button></a>

</div>
    
{% endblock %}
