{% extends 'base.html.twig' %}

{% block title %}Liste séries
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    <iframe src="{{ path('app_series_random')}}" class="w-full h-80 "></iframe>

    
		{{ form_start(SeriesSearchForm) }}
        <div class="search-serie flex justify-between w-4/5 mx-auto">
			{{ form_widget(SeriesSearchForm) }}
        
			<button class="bg-blue-700 hover:bg-blue-600 text-xl text-white px-5 p-px rounded-2xl">Rechercher</button>
        </div>
		{{ form_end(SeriesSearchForm) }}
        
            {{ knp_pagination_render(series)}}

        <div class="flex flex-wrap flex-row w-full items-center justify-center mb-5">
        {% for series in series %}
            <div class="serie-encadre border-none border-4 rounded-3xl flex flex-col-reverse mb-4 h-auto mx-10 mt-10 items-center">
     
                <h3 class="titre w-full titre font-bold text-white text-2xl text-center pt-5 pb-4">{{ series.title }} </h3>
                
                <div class="poster w-full">
                    {% if app.user %}
                        {% if series in app.user.getSeries  %}
                        <a href="{{ path('app_series_remove_from_index',  {'id': series.id, 'user_id':app.user.id}) }}">
                            <img class="backdrop-blur-sm bg-white/20 shadow-[3px_3px_15px_2px_rgba(0,0,0,0.5)] hover:bg-red-500/50  rounded-2xl rounded-bl-none rounded-tr-none serie-plus  absolute" width="60px" src="{{ asset('img/check.png') }}" />
                        </a>
                        {% else %}
                        <a href="{{ path('app_series_add_from_index',  {'id': series.id, 'user_id':app.user.id}) }}">
                            <img class="backdrop-blur-sm bg-white/20 shadow-[3px_3px_15px_2px_rgba(0,0,0,0.5)] hover:bg-green-500/50 serie-check absolute rounded-2xl rounded-bl-none rounded-tr-none" width="60px" src="{{ asset('img/plus.png') }}" />
                        </a>
                        {% endif %}
                    
                        {% endif %}
                    <a href="{{ path('app_series_show', {'id': series.id})}}">
                        <img class="border-none rounded-b-none rounded-3xl h-full w-full" src="{{ series.displayPoster }}" alt="poster"></img>  
                    </a>
                
                </div>
            </div>
        
        {% endfor %}
        
        </div>

        <div class="pagination-b">
            {{ knp_pagination_render(series)}}
        </div>

{% endblock %}
