{% block stylesheets %}
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<style>
		body {
			background-image: none;
		}
	</style>
	<base target="_parent">
	<div class="carrousel flex flex-row w-full h-full items-center pb-10">
		{% for serie in seriesRand %}
				<div class="mx-px px-5 w-1/10 justify-center h-full">
					{% if app.user %}
                    {% if serie in app.user.getSeries  %}
                    <a  href="{{ path('app_series_remove_from_random',  {'id': serie.id, 'user_id':app.user.id}) }}">
                        <img class="bg-blue-900 rounded-2xl rounded-bl-none rounded-tr-none serie-plus h-64 absolute" width="50px" src="{{ asset('img/check.png') }}" />
                    </a>
                    {% else %}
                    <a href="{{ path('app_series_add_from_random',  {'id': serie.id, 'user_id':app.user.id}) }}">
                        <img class="bg-blue-900 serie-check absolute rounded-2xl rounded-bl-none rounded-tr-none" width="50px" src="{{ asset('img/plus.png') }}" />
                    </a>
                    {% endif %}
                    {% endif %}
					<a href="{{ path('app_series_show', {'id': serie.id})}} class="w-full h-full">
						<img class="border-none rounded-3xl w-full h-full" src="{{ serie.poster }}" alt="poster">
					</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}
