{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Bahnschrift">
{{ encore_entry_link_tags('app') }}
    {% endblock %}

{% block body %}

    <div class="container flex flex-col text-white">
        <div class="flex">
            <div>
                <div><img src="{{ series.displayPoster }}" alt="poster" width="450px"></div>
            </div>
            <div>
                <div>
                    <h1 class="text-4xl font-semibold font-mono">{{ series.title }}</h1>
                </div>
                <tr>
                    <td>{{ series.yearStart }}</td>
                </tr>
            </div>
        </div>
        </div>
            <div>
                <p class="text-white text-20">{{ series.plot }}</p>
            </div>
        
            <tr>
                <th>YoutubeTrailer</th>
                
            </tr>
            <tr>
                <th>Awards</th>
                <td>{{ series.awards }}</td>
            </tr>
            
        </div>
    </div>

    <a href="{{ path('app_series_index') }}">back to list</a>

 

{% endblock %}
