{#% extends 'base.html.twig' %#}

{% block stylesheets %}
{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<style>
    body {
        background-image: none;
    }
</style>
<div class="flex flex-col ml-2 mt-5 w-full">
    <h1 class="text-3xl text-center text-white font-semibold mb-2">Ajouter une critique</h1>

    
    {{ form_start(form) }}
        {{ form_row(form.value, {'type': 'number'}) }}
        {{ form_row(form.comment) }}
        <div class="w-full justify-center">
        <button class="text-2xl w-max mt-5 text-white bg-blue-700 px-5 pb-2 p-1 rounded-3xl hover:bg-blue-600">{{ button_label|default('Envoyer') }}</button>
        </div>
    {{ form_end(form) }}
    

</div>
{% endblock %}
